<!-- script references -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="/static/js/registrationValidator.js"></script>
<script src="/static/js/writerValidator.js"></script>
<script src="/static/js/addComment.js"></script>
<script src="/static/js/deleteComment.js"></script>
</body>
</html>
