<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Fresh Tomatoes</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/mystyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-danger navbar-dark rounded justify-content-between">
        <a href="/index" style="text-decoration:none;"><h1 class="text-white nav-bar-brand">Fresh Tomatoes</h1></a>
        <h3>
            <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="/index">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles">게시판</a>
                </li>
                {{^sessionUser}}
                <li class="nav-item">
                    <a class="nav-link" href="/users/login-form">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/sign-up-form">회원가입</a>
                </li>
                {{/sessionUser}}
                {{#sessionUser}}
                <li class="nav-item">
                    <form method="post" action="/users/logout">
                        <button type="submit" class="logout-button">로그아웃</button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/modify">개인정보수정</a>
                </li>
                {{/sessionUser}}
                <li class="nav-item">
                    <a class="nav-link" href="#">후원</a>
                </li>
            </ul>
        </h3>
    </nav>
</div>
<body>
