{{>layout/header}}
{{>layout/navbarHeader}}
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default">
            <header class="qna-header">
                <h2 class="qna-title">{{post.title}}</h2>
            </header>
            <div class="content-main">
                <article class="article">
                    <div class="article-header">
                        <div class="article-header-thumb">
                            <img src="https://graph.facebook.com/v2.3/100000059371774/picture"
                                 class="article-author-thumb" alt="">
                        </div>
                        <div class="article-header-text">
                            <a href="/user/{{post.writer}}" class="article-author-name">{{post.writer}}</a>
                            <a class="article-header-time">
                                {{post.writeDateTime}}
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="article-doc">
                        {{post.contents}}
                    </div>
                    <div class="article-util">
                        <ul class="article-util-list">
                            {{#isWriter}}
                                <li>
                                    <a class="link-modify-article" href="/board/{{post.postId}}/update">수정</a>
                                </li>
                                <li>
                                    <form class="form-delete" action="/board/{{post.postId}}" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button class="link-delete-article" type="submit">삭제</button>
                                    </form>
                                </li>
                            {{/isWriter}}
                            <li>
                                <a class="link-modify-article" href="/board">목록</a>
                            </li>
                        </ul>
                    </div>
                </article>

                <div class="qna-comment">
                    <div class="qna-comment-slipp">
                        <p class="qna-comment-count"><strong>{{commentCount}}</strong>개의 댓글</p>
                        <div class="qna-comment-slipp-articles">
                            {{#comments}}
                                <article class="article" id="answer-1405">
                                    <div class="article-header">
                                        <div class="article-header-thumb">
                                            <img src="https://graph.facebook.com/v2.3/1324855987/picture"
                                                 class="article-author-thumb" alt="">
                                        </div>
                                        <div class="article-header-text">
                                            <a href="/user/{{writerId}}" class="article-author-name">{{writer}}</a>
                                            <a href="#answer-1434" class="article-header-time" title="퍼머링크">
                                                {{writeDateTime}}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="article-doc comment-doc">
                                        <p>{{contents}}</p>
                                    </div>
                                    <div class="article-util">
                                        <ul class="article-util-list">
                                            <!--                                            <li>-->
                                            <!--                                                <a class="link-modify-article"-->
                                            <!--                                                   href="/questions/413/answers/1405/form">수정</a>-->
                                            <!--                                            </li>-->
                                            <li>
                                                <form class="delete-answer-form"
                                                      action="/board/{{post.postId}}/comments/{{commentId}}"
                                                      method="POST">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="button" class="delete-answer-button">삭제</button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </article>
                            {{/comments}}
                        </div>
                        <form class="submit-write" method="post" action="/board/{{post.postId}}">
                            <div class="form-group" style="padding:14px;">
                                <input type="hidden" class="form-control" id="postId" name="postId"
                                       value="{{post.postId}}"/>
                                <textarea id="contents" name="contents" class="form-control"
                                          placeholder="댓글 내용을 입력해주세요."></textarea>
                            </div>
                            <button class="btn btn-success pull-right" type="submit">댓글작성</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="answerTemplate">
    <article class="article">
        <div class="article-header">
            <div class="article-header-thumb">
                <img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb" alt="">
            </div>
            <div class="article-header-text">
                <a href="/user/{0}" class="article-author-name">{1}</a>
                <div class="article-header-time">{2}</div>
            </div>
        </div>
        <div class="article-doc comment-doc">
            {3}
        </div>
        <div class="article-util">
            <ul class="article-util-list">
                <!--                <li>-->
                <!--                    <a class="link-modify-article" href="/api/qna/updateAnswer/{4}">수정</a>-->
                <!--                </li>-->
                <li>
                    <form class="delete-answer-form" action="/board/{4}/comments/{5}" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="button" class="delete-answer-button">삭제</button>
                    </form>
                </li>
            </ul>
        </div>
    </article>
</script>
<!-- script references -->
<script src="/js/jquery-2.2.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!--<script src="/js/scripts.js"></script>-->
<script src="/js/comment.js"></script>
</body>
</html>
