<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: head(~{::link})">
  <link rel="stylesheet" th:href="@{/css/member/members.css}">
  <title></title>
</head>
<body>
<header th:replace="~{layout/header :: header}">
</header>
<main class="container">
  <div id="mainBanner" class="row align-items-center">
    <div class="col">
      <span class="col-8">멤버리스트</span>
      <h2 class="col-8">참여자를 확인할 수 있습니다.</h2>
    </div>
  </div>
  <div id="members" class="row row-cols-1">
    <div id="membersCount" class="col">
      전체글 [[${memberResponsesDto.size()}]]개
    </div>
    <table>
      <thead>
      <th class="nickname">닉네임</th>
      <th class="email">이메일</th>
      <th class="signUpDate">회원가입일</th>
      </thead>
      <tbody>
      <tr th:each="memberResponse : ${memberResponsesDto}">
        <td class="nickname" >
          <a class="nav-link" th:href="@{/members/{memberId}(memberId = ${memberResponse.getMemberId()})}" th:text="${memberResponse.getNickname()}">차차</a>
        </td>
        <td class="email" th:text="${memberResponse.getEmail()}">test@gmail.com</td>
        <td class="signUpDate" th:text="${memberResponse.convertLocalDateTime()}">2023-04-30</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <nav class="col" aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item ${pageDisabled}">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item ${pageActive}">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item ${pageActive}">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item ${pageActive}">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item ${pageDisabled}">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</main>
</body>
</html>
