<!DOCTYPE html>
<html lang="en" >
<head th:replace="fragments/header.html :: header"></head>
<body>
<nav th:replace="fragments/navbar.html :: user">
</nav>
<form class="container" id="postingForm" action="/posts" method="post" novalidate>
    <div class="row justify-content-center">
        <div class="col-6 row row-cols-auto mt-5 mb-5">
            <h3>글쓰기</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="mb-3 col-6">
            <div class="form-floating">
                <input type="text"  class="form-control"
                       id="nickname" placeholder="닉네임을 입력하세요">
                <label for="nickName">닉네임</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="mb-3 col-6">
            <div class="form-floating">
                <input type="text" class="form-control"
                       id="title" placeholder="글의 제목을 입력하세요">
                <label for="title">제목</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="mb-3 col-6 ">
            <div class="form-floating">
                <textarea class="form-control" id="textContent"
                          placeholder="글의 내용을 입력하세요"
                          style="height: 500px;resize: none"></textarea>
                <label for="textContent">내용</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-center col">
        <div class="col-6 mb-3 row row-cols-auto justify-content-end">
            <div class="col">
                <button class="btn btn-primary" type="submit" role="button">작성완료</button>
            </div>
        </div>
    </div>
</form>

<footer class="container-fluid mt-auto bg-light py-3">

</footer>
</body>
</html>
