<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: head(~{::link})">
    <link rel="stylesheet" th:href="@{/css/post/post.css}">
</head>
<body>
<header th:replace="~{layout/header :: header}">
</header>
<main>
    <div class="m-auto">
        <div>
            <div>
                <h2 class="post-title" th:text="${postResponse.title}">자바 웹개발 교육 홈페이지 디자인 개발</h2>
                <form th:action="@{/posts/{id}(id = ${postResponse.id})}" th:method="delete"
                      th:if="${session.loginMember.getMemberEmail() == postResponse.writer.writerEmail}">
                    <a class="btn btn-primary btn-sm"
                       th:href="@{/posts/{id}/edit-form (id = ${postResponse.id})}">수정</a>
                    <button class="btn btn-primary btn-sm" type="submit">삭제</button>
                </form>
            </div>
            <div class="row row-cols-3 post-detail">
                <span class="col-sm-2" th:text="${postResponse.writer.nickname}">비회원</span>
                <span class="col-sm-4">작성일자:[[${postResponse.convertLocalDateTime()}]]</span>
                <span class="col-sm-2">조회 [[${postResponse.views}]]</span>
            </div>
            <div class="post-content">
                <pre th:text="${postResponse.content}">
                </pre>
            </div>
        </div>
        <div class="comments">
            <div class="comment" th:each="commentReadDto : ${commentListDto.comments}">
                <strong class="comment-writer" th:text="${commentReadDto.writer}">자바지기</strong>
                <pre class="comment-content" th:text="${commentReadDto.content}">이 글만으로는 원인 파악하기 힘들겠다. 소스 코드와 설정을 단순화해서 공유해 주면 같이 디버깅해줄 수도 있겠다.</pre>
                <span class="comment-date" th:text="${commentReadDto.getCreatedTime()}">2015-12-30 01:47</span>
                <form class="comment-delete"
                      th:action="@{/posts/{postId}/comments/{id}(postId = __${id}__ ,id = ${commentReadDto.commentId})}" th:method="delete">
                    <button class="btn btn-primary btn-sm" type="submit">삭제</button>
                </form>
            </div>
        </div>
        <form class="comment-submit" th:action="@{/posts/{postId}/comments(postId = __${id}__ )}" th:method="post">
            <div class="form-group">
                <div class="comment-from-writer" th:text="${loginMember}">차차</div>
                <textarea class="form-control" id="content" name="content" placeholder="내용을 입력하세요"></textarea>
                <div class="col text-end">
                    <button class="btn btn-primary btn-sm comment-button" type="submit">등록</button>
                </div>
            </div>
        </form>
        <div class="row button-group">
            <div class="col">
                <a class="btn btn-primary btn-sm">이전 글</a>
                <a class="btn btn-primary btn-sm">다음 글</a>
            </div>
            <div class="col text-end">
                <a class="btn btn-primary btn-sm" th:href="@{/}">목록</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>
