<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <th:block th:include="fragments/config::config"/>
    <link rel="stylesheet" href="/css/post.css">
    <title>CodeSquad - Articles</title>
</head>
<body>

<div layout:fragment="content">
    <section class="postDetail">
        <div class="detailContainer">
            <h2 th:text="${article.title}">제목</h2>
            <div class="createdAt">
                <div>
                    <span class="firstText" th:text="|작성자 : ${article.writer}|">작성자</span><span th:text="|작성일자 : ${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}|">작성일자</span>
                </div>
                <a class="editButton" th:if="${article.writer == session.loginUserId}" th:href="@{/articles/{id}/edit-form(id=${article.id})}">수정하기</a>
            </div>
            <p th:text="${article.contents}"></p>

            <div class="buttons">
                <div>
                    <a th:if="${article.previousId == null}" class="firstText disable" style="background: #D2DAE0;">이전 글</a>
                    <a th:if="${article.previousId != null}" class="firstText" th:href="@{/articles/{id}(id=${article.previousId})}">이전 글</a>
                    <a th:if="${article.nextId == null}" class="disable" style="background: #D2DAE0;">다음 글</a>
                    <a th:if="${article.nextId != null}" th:href="@{/articles/{id}(id=${article.nextId})}">다음 글</a>
                </div>
                <a th:href="@{/}">목록으로</a>
            </div>
        </div>

        <form>
            <div id="replyForm">
                <label for="inputReply" th:text="${session.loginUserId}">작성자</label>
                <textarea maxlength="400" id="inputReply" name="contents" placeholder="댓글의 내용을 입력하세요"></textarea>
                <button type="button" class="button" onclick="validateReply()">댓글 등록</button>
            </div>
            <span class="checkReply hide">내용은 3자 이상 400자 이하로 입력해주세요</span>
        </form>


        <div id="replyContainer">
            <span th:text="|댓글 ${#lists.size(replies)}개|">댓글 10개</span>
            <div class="reply" th:each="reply : ${replies}">
                <div>
                    <div class="replyInfo">
                        <span class="replyWriter" th:text="${reply.writer}">yeon</span><span th:text="${#temporals.format(reply.createdAt, 'yyyy-MM-dd HH:mm')}">2023-04-19</span>
                    </div>
                    <a class="editButton">삭제</a>
                </div>
                <p th:text="${reply.contents}">댓글 내용</p>
            </div>
        </div>
    </section>

<script src="/js/validation.js"></script>
</div>

</body>
</html>
