{{> fragments/header}}
<div class="wrap-detail">
    <div class="post-title">
        <div>{{article.title}}</div>
    </div>
    <div class="post-detail">
        <div class="post-nickname">작성자: {{article.writer}}</div>
        <div class="post-date">작성일자: {{article.writeDate}}</div>
        <div class="post-hits">조회: {{article.hits}}</div>
    </div>
    <div>
        <div class="post-content">{{article.contents}}</div>
    </div>
</div>
<div class="comment-wrap">
    <div class="countOfComment">
        <p>댓글 <span id="comment_count"></span>개</p>
    </div>
    <div class="comment-box"></div>
    <div class="more">
        <div class="more-button">더보기</div>
    </div>
    <div class="write-comment">
        <form name="comment-form" id="comment" method="post" action="/comments/{{article.writer}}">
            <input type="hidden" name="articleIndex" value="{{article.articleIndex}}"/>
            <input type="hidden" name="author" value="{{author}}"/>
            <label for="comment-input" id="comment-label"></label>
            <textarea name="comment" id="comment-input" placeholder="댓글을 입력하세요."></textarea>
            <button type="button" class="button submit" id="comment-write">등록</button>
        </form>
    </div>
    <div class="post-detail-button">
        <div class="button-writing">
            <div>
                <a class="button pre-writing" href="/articles/{{article.articleIndex}}/{{article.writer}}">이전 글</a>
            </div>
            <div>
                <a class="button next-writing" href="/articles/{{article.articleIndex}}/{{article.writer}}">다음 글</a>
            </div>
        </div>
        <div class="post-bottom-list">
            {{#equal}}
            <form name='question' method='post' action='/articles/{{article.articleIndex}}'>
                <input type='hidden' name='_method' value='PATCH'/>
                <button class='button next-writing' type='submit' style='border: none;'>수정</button>
            </form>
            <form name="question" method="post" action="/articles/{{article.articleIndex}}">
                <input type="hidden" name="_method" value="DELETE"/>
                <button class="button next-writing" type="submit" style="border: none;">삭제</button>
            </form>
            {{/equal}}
            <a class="button next-writing" href="/">목록으로</a>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/comment.js"></script>
{{> fragments/footer}}
