<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout}">
<head>
    <th:block th:include="/fragments/config::config"/>
    <link rel="stylesheet" href="/css/main.css">
    <title>CodeSquad</title>
</head>

<body>

<div layout:fragment="content">
    <section id="main">
        <div>
            <span id="mainText1">코드스쿼드 백엔드 교육용 페이지</span>
            <span id="mainText2">안녕하세요 코드스쿼드입니다</span>
        </div>
        <span th:text="|전체 글 ${#lists.size(articles)}개|">전체 글 60개</span>
        <div id="mainForum">
            <table>
                <thead>
                <tr>
                    <th scope="col">no</th>
                    <th class="articleTitle" scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일자</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="article, articleStat : ${articles}">
                    <td scope="row" th:text="${articleStat.count}"></td>
                    <td class="articleTitle"><a th:href="@{/articles/{articleId}(articleId=${article.id})}"
                                                th:text="${article.title}"></a></td>
                    <td th:text="${article.writer}"></td>
                    <td th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation" id="pagination">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
            <a class="write" th:href="@{articles/write}">글쓰기</a>
        </nav>
    </section>
</div>

</body>

</html>
