{{> fragments/header}}
<div></div>
<div class="wrap">
    <form name="question" id="question" method="post" action="/articles/{{article.articleIndex}}"
          onsubmit="return validateWritingUpdate()">
        <input type="hidden" name="_method" value="PATCH"/>
        <input type="hidden" name="writer" value="{{article.writer}}"/>
        <div class="h3">
            <h3>글 수정</h3>
        </div>
        <div class="title-form">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" value="{{article.title}}" onkeyup="verifyTitle()"/>
        </div>
        <div class="content-form">
            <label for="content">내용</label>
            <input type="text" name="contents" id="content" value="{{article.contents}}" onkeyup="verifyContent()"/>
        </div>
        <div class="write-complete">
            <div id="allMessage" class="message" style="color: red">
                {{#errorMessage}}
                {{{errorMessage}}}
                {{/errorMessage}}
            </div>
            <button class="button complete" type="submit">수정완료</button>
        </div>
    </form>
</div>
<script src="/js/dataValidation.js"></script>
{{> fragments/footer}}
