<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <th:block th:include="fragments/config::config"/>
    <link rel="stylesheet" href="/css/post.css">
    <title>CodeSquad - Write</title>
</head>

<body>

<div layout:fragment="content">
    <section class="post">
        <form id="posting" th:action="@{/articles}" method="post">
            <h2>글쓰기</h2>
            <div>
                <label for="inputTitle">제목</label>
                <input type="text" id="inputTitle" name="title" placeholder="글의 제목을 입력하세요">
                <span class="checkTitle hide">제목은 필수 입력 사항입니다</span>
            </div>
            <div>
                <label for="inputWriter">작성자</label>
                <input type="text" id="inputWriter" name="writer" placeholder="작성자를 입력하세요">
                <span class="checkWriter hide">작성자는 필수 입력 사항입니다</span>
            </div>
            <div class="content">
                <label for="inputContent">내용</label>
                <textarea maxlength="1000" id="inputContent" name="contents" placeholder="글의 내용을 입력하세요"></textarea>
                <span class="checkContent hide">내용은 3자 이상 1000자 이하로 입력해주세요</span>
            </div>
            <button type="button" class="button" onclick="validatePost()">작성 완료</button>
        </form>

        <script src="/js/validation.js"></script>
    </section>
</div>

<script src="/js/validation.js"></script>
</body>

</html>
