{{> fragments/header}}
<div class="keyword"><strong>회원가입</strong></div>
<div class="form-box">
    <form name="question" id="signUp-form" method="post" action="/user/create" onsubmit="return validateData()">
        <div class="box">
            <label for="userID">아이디</label>
            <input type="text" id="userID" name="userID" placeholder="User ID" onkeyup="verifyUserID()" autofocus></div>
        <div id="userIDMessage" class="message"></div>
        <div class="box">
            <label for="email">이메일</label>
            <input type="email" id="email" name="email" placeholder="Email" onkeyup="verifyEmail()"></div>
        <div id="emailMessage" class="message"></div>
        <div class="box">
            <label for="nickname">닉네임</label>
            <input type="text" id="nickname" name="nickname" placeholder="Nickname" onkeyup="verifyNickname()"></div>
        <div id="nicknameMessage" class="message"></div>
        <div class="box">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" placeholder="Password" onkeyup="verifyPassword()">
        </div>
        <div id="passwordMessage" class="message" style="color: red">
            {{#errorMessage}}
            {{{errorMessage}}}
            {{/errorMessage}}
        </div>
        <button class="body button">회원가입</button>
        <div id="allMessage" class="message"></div>
    </form>
</div>
<script src="/js/dataValidation.js"></script>
{{> fragments/footer}}
