{{>layout/header}}
<div class="container">
    <div class="container d-flex justify-content-between align-items-center">
        <h2 class="mt-5">회원 리스트</h2>
    </div>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th>사용자 아이디</th> <th>이름</th> <th>이메일</th><th></th>
        </tr>
        </thead>
        <tbody>
        {{#users}}
        <tr>
            <td>{{userId}}</td>
            <td><a href="/user/{{userId}}">{{name}}</a></td>
            <td>{{email}}</td>
        </tr>
        {{/users}}
        </tbody>
    </table>
</div>

{{>layout/footer}}
