<!DOCTYPE html>
<html lang="kr">
<head>
    {{> fragments/header}}
    <link href="/css/user/login_success.css" rel="stylesheet">
</head>
<body>
<div class="background">
    {{> fragments/navbar}}

    <div class="container" id="main">
        <header class="post-header">
            <p class="title">가입이 완료되었습니다!</p>
        </header>
        <p class="user-info"> 이메일: sam@codesquad.kr</p>
        <p class="user-info"> 닉네임: 멋진삼</p>
        <a href="/" class="btn">홈으로</a>
    </div>
</div>
</body>
</html>
