<!DOCTYPE html>
<html lang="kr"
      layout:decorate="layout/defaultLayout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>비밀번호 입력</title>
</head>
<body>
<th:block layout:fragment="content">
  <div class="container" id="main">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default content-main">
        <form id="form" method="post" name="question"
              th:action="@{/user/{id}/password(id=${user.id})}">
          <div class="form-group">
            <label for="password">비밀번호</label>
            <input class="form-control" id="password" name="password" placeholder="Password"
                   type="password">
            <p id="passwordError"></p>
          </div>
          <input class="form-control hidden" id="id" name="id" placeholder="id" readonly
                 th:value="${user.id}">
          <button class="btn btn-success clearfix pull-right" type="submit">수정</button>
          <div class="clearfix"/>
        </form>
      </div>
    </div>
  </div>
</th:block>

<th:block layout:fragment="pageCustomScript">
  <script src="/js/user/passwordForm.js" type="text/javascript">
  </script>
</th:block>

</body>
</html>
