<!DOCTYPE html>
<html lang="kr">
<head>
    {{> fragments/header}}
    <link href="/css/user/profile.css" rel="stylesheet">
</head>
<body>
<div class="background">
    <nav class="navbar navbar-fixed-top header">
        <div class="col-md-12">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <img src="/images/KakaoCI.png" />
                </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/users">멤버 리스트</a></li>
                <li><a class="black-component" href="/users/{{id}}/form" role="button">회원정보수정</a></li>
                <li><a class="black-component" href="/user/login" role="button">로그인</a></li>
                <li><a class="black-component" href="/user/join" role="button">회원가입</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" id="main">
        <div id = "profileBox">
            <div>
                <h>Profiles</h>
            </div>
            <hr>
            <div id="profileBox-below-content">
                <div id="below-content-text">
                    {{#user}}
                    <p id="below-content-text-nickName">{{nickName}}</p>
                    <p>{{email}}</p>
                    {{/user}}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
