<!DOCTYPE html>
<html>
    <head>
        <title>signUp form</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav class="header">
            <div>
                <a href="/" class="home">HELLO!</a>
            </div>
            <div class="menu">
                <button id="check" >
                    <span class="menu-bar"><img src="/images/menu-bar.png" width="20px"></span>
                </button>
                <div class="bar">
                    <a href="/user/list" class="head button" role="button">멤버리스트</a>
                    <a href="/user/login" class="head button" role="button">로그인</a>
                    <a href="/user/form" class="head button" role="button">회원가입</a>
                </div>
            </div>
        </nav>
        <div class="blank"></div>
        <div class="container">
            <div class="profile-header"><h2>Profiles</h2></div>
            {{#user}}
            <div class="profile-body">
                <div class="picture">
                    <a href="#">
                        <img src="/images/profile_picture.jpg" width="200px">
                        <p class="reference"><a href="https://www.freepik.com/free-vector/cheerful-cute-girl-greeting-with-namaste-cartoon-art-illustration_16782107.htm">Image by mamewmy</a> on Freepik</p>
                    </a>
                </div>
                <div class="user-profile">
                    <h2>{{userID}}</h2>
                    <p>
                        <a href="#" class="email-icon"><img src="/images/mail.png" width="20px">&nbsp;{{email}}</a>
                    </p>
                    <p>{{nickname}}</p>
                    <p>{{signUpDate}}</p>
                </div>
            </div>
            {{/user}}
        </div>
    </body>
</html>