<!DOCTYPE html>
<html lang="kr">
<head>
    {{> fragments/header}}
    <link href="/css/user/login_success.css" rel="stylesheet">
</head>
<body>
<div class="background">
    {{> fragments/navbar}}

    <div class="container" id="main">
        <header class="post-header">
            <p class="title">로그인 성공!</p>
        </header>
        {{#user}}
        <p class="user-info"> 아이디: {{id}}</p>
        <p class="user-info"> 닉네임: {{nickName}}</p>
        <a href="/" class="btn">홈으로</a>
        {{/user}}
    </div>
</div>
</body>
</html>
