<!DOCTYPE html>
<html lang="kr">
<head>
    {{>layout/head}}
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/user/form.css" rel="stylesheet">
</head>
<body>
<div class="background">
    <nav class="navbar navbar-fixed-top header">
        {{>layout/header}}
    </nav>
    <div class="container" id="main">
        <header class="post-header">
            <p class="title">회원정보수정!</p>
        </header>
        {{#user}}
        <form name="question" class="info-container" method="POST" action="/users/{{id}}/update" onsubmit= 'return match();'>
            <input type="hidden" name="_method" value="PUT"/>
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" class="form-control" id="email" name="email"placeholder="새 이메일 입력하세요" value="{{email}}">
            </div>
            <div class="form-group">
                <label for="userId">닉네임</label>
                <input class="form-control" id="userId" name="userId" placeholder="새 닉네임 입력하세요" value="{{userId}}" readonly/>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" id="password" name="password"  placeholder="새 비밀번호 입력하세요" value = "{{password}}">
                <script>
                function match(e) {
                            var inputValue = document.getElementById('password').value;
                            var originalValue = document.getElementById('password').getAttribute('value');
                            if (inputValue != originalValue){
                                alert('비밀번호를 맞춰주세요')
                                return false;
                            }return true;
                }
                </script>
            </div>
            <button type="submit" class="btn btn-success clearfix pull-right">서브밋</button>
        </form>
        {{/user}}
    </div>
</div>
</body>
</html>
