<!DOCTYPE html>
<html lang="kr">
<head>
    {{> fragments/header}}
    <link href="/css/user/form.css" rel="stylesheet">
</head>
<body>
<div class="background">
    {{> fragments/navbar}}

    <div class="container" id="main">
        <header class="post-header">
            <p class="title">회원정보 수정</p>
        </header>
        <form name="question" class="info-container" method="post" action="/users/{{loginUserId}}/update">
            <input type="hidden" name="_method" value="PUT"/>

            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호">
            </div>
            <div class="form-group">
                <label for="email">변경할 이메일</label>
                <input type="email" class="form-control" id="email" name="changedEmail" placeholder="변경할 이메일">
            </div>
            <div class="form-group">
                <label for="nickName">변경할 닉네임</label>
                <input class="form-control" id="nickName" name="changedName" placeholder="변경할 닉네임">
            </div>
            {{#error}}
            <span style="color: red">{{error}}</span>
            {{/error}}
            <button type="submit" class="btn btn-success clearfix pull-right">완료</button>
        </form>
    </div>
</div>
</body>
</html>
