<!DOCTYPE html>
<html>
<head>
    <title>스프링 카페</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="header">
    <div>
        <a href="/" class="home">HELLO!</a>
    </div>
    <div class="menu">
        <button id="check">
            <span class="menu-bar"><img src="/images/menu-bar.png" width="20px"></span>
        </button>
        {{^sessionUser}}
        <div class="bar">
            <a href="/users" class="head button" role="button">멤버리스트</a>
            <a href="/user/login" class="head button" role="button">로그인</a>
            <a href="/user/form" class="head button" role="button">회원가입</a>
        </div>
        {{/sessionUser}}
        {{#sessionUser}}
        <div class="bar">
            <a href="/users" class="head button" role="button">멤버리스트</a>
            <a href="/user/{{sessionUser.userID}}/updateForm" class="head button" role="button">정보수정</a>
            <a href="/user/logout" class="head button" role="button">로그아웃</a>
        </div>
        {{/sessionUser}}
    </div>
</nav>
