<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="header">
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}" id="logo">CodeSquad</a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" th:href="@{/users}">Members</a>
                        <a class="nav-link" th:href="@{/users/sign-up}">회원가입</a>
                        <a class="nav-link" th:href="@{/users/login}">로그인</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>

</body>
</html>
