<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="anonymous" class="navbar navbar-expand bg-body-tertiary justify-content-center row-cols-auto">
    <div class="col-10 row row-cols-auto justify-content-between">
        <div class="nav align-self-center ms-3 ">
            HELLO JAVA!
        </div>
        <div class="container  row row-cols-auto">
            <div class="nav" id="logout">
                <a class="btn btn-primary" th:href="@{/users/join}" type="submit" role="button">로그인/회원가입</a>
            </div>
        </div>
    </div>
</nav>
</html>
