<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="common">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">CodeNote</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <button class="d-flex btn btn-outline-success me-2 nav-item"
                    th:if="${session.user == null && #httpServletRequest.requestURI != '/users/login'}"
                    th:onclick="|location.href='@{/users/login}'|">로그인
            </button>
            <button class="d-flex btn btn-outline-success me-2 nav-item"
                    th:if="${session.user == null && #httpServletRequest.requestURI != '/users/join'}"
                    th:onclick="|location.href='@{/users/join}'|">회원가입
            </button>
            <button aria-expanded="false" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    th:if="${session.user != null}"
                    type="button">
                Menu
            </button>
            <ul class="dropdown-menu dropdown-menu-end" th:if="${session.user != null}">
                <li th:if="${session.user.role == T(kr.codesquad.cafe.user.Role).MANAGER}">
                    <a class="dropdown-item" th:href="@{/users}">맴버리스트
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{/users/{id}/profile(id = ${session.user.id})}">개인정보</a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{/posts/form}">글쓰기</a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{/users/logout}">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
