<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/layout/head :: common_head}"></head>
<body>
<div th:replace="~{fragment/layout/nav :: common_nav}"></div>

<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="panel panel-default qna-list">
            <ul class="list">
                <li th:each="post, postStatus : ${posts}">
                    <div class="wrap">
                        <div class="main">
                            <strong class="subject">
                                <a th:href="@{/css/post/{id}(id = ${post.id})}" th:text="${post.title}"></a>
                            </strong>
                            <div class="auth-info">
                                <i class="icon-add-comment"></i>
                                <span class="time" th:text="${#temporals.format(post.createdAt, 'yy-MM-dd HH:mm')}"></span>
                                <div th:text="${post.writer}"></div>
                            </div>
                            <div class="reply" title="댓글">
                                <i class="icon-reply"></i>
                                <span class="point" th:text="${postStatus.count}"></span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <ul class="pagination center-block" style="display:inline-block;">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
                <div class="col-md-3 qna-write">
                    <a th:href="@{/posts/create}" class="btn btn-primary pull-right" role="button">글쓰기</a>
                </div>
            </div>
        </div>
    </div>
</div>