<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/errorHead :: head}">
</head>
<body>
<div class="errorPage">
    <div class="outer">
        <div class="middle">
            <div class="inner text-center">
                <!--BEGIN CONTENT-->
                <div class="inner-circle"><i class="fa fa-home"></i><span>400</span></div>
                <span class="inner-status">헉! 요청실패(BadRequest)</span>
                <span class="inner-detail">
                    요청 값이 잘못되었거나,
                </span>
                <span class="inner-detail">
                    서버가 이해하지 못하습니다.
                </span>
                <span class="inner-detail" th:text="${errorCode}">
                    서버가 이해하지 못하습니다.
                </span>
                <a th:href="@{/}" href="#" class="btn btn-info mtl">
                    <i class="fa fa-home"></i>
                    홈으로
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
