{{>layout/header}}
{{>layout/navbarHeader}}
<div class="container" id="main">
    <div class="col-md-6 col-md-offset-2">
        <img src="/images/403-error.jpg">
    </div>
</div>
{{>layout/footer}}
