<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/errorHead :: head}">
</head>
<body>
<div class="errorPage">
    <div class="outer">
        <div class="middle">
            <div class="inner text-center">
                <div class="inner-circle"><i class="fa fa-home"></i><span th:text="${status}">상태코드</span></div>
                <span class="inner-status" th:text="${error}">에러 명</span>
                <span class="inner-detail" th:text="${message}">
                    에러 메시지
                </span>
                <a th:href="@{/}" href="#" class="btn btn-info mtl"><i class="fa fa-home"></i>
                    홈으로
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
