{{>layout/header}}
{{>layout/navbarHeader}}
<div class="container" id="main">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default content-main">
            <h2>ERROR</h2>
            <h3>{{error_message}}</h3>
        </div>
    </div>
</div>
{{>layout/footer}}
