/* 글쓰기 */
.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 100%;
    height: max-content;
}

.post > form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0px 0px;
    gap: 40px;

    width: 640px;
    height: 860px;
}

form > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 8px;
    width: 100%;
    height: 64px;

    background: #FFFFFF;
    border: 1px solid #D2DAE0;
    border-radius: 8px;
}

form > div > input {
    padding: 0px;

    width: 100%;
    height: 100%;

    background: #FFFFFF;
    border: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

form > div > input:focus {
    background: #FFFFFF;
    outline: none;
}

form > div > label {
    width: 300px;
    height: 14px;

    font-weight: 500;
    font-size: 14px;
    line-height: 100%;

    color: #4B5966;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

form > div > span {
    padding: 10px 0px 0px;

    font-weight: 400;
    font-size: 12px;

    color: #4362D0;
}

.content {
    height: 500px;
}

textarea {
    width: 100%;
    height: 100%; 

    margin: 0px 0px 0px;
    border: none;
    resize: none;
}

textarea:focus {
    outline: none;
}

.hide {
    display: none;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    padding: 8px 16px;
    gap: 10px;

    width: 84px;
    height: 32px;

    background: #4362D0;
    border: none;
    border-radius: 8px;

    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    
    text-align: center;

    transition: all 0.4s;

    color: #FFFFFF;
}

.button:hover {
    background: #203faf;
}

/* 글 상세 보기 */
.detailContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 0px 0px;

    width: 680px;
    height: max-content;
}

.createdAt {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 30px;

    width: 100%;

    border: 1px 0px 1px;
    border-color: #D2DAE0;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.buttons > a, .buttons > div > a {
    padding: 8px 16px;
    gap: 10px;

    width: 80px;
    height: 32px;

    background: #4362D0;
    border-radius: 8px;

    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-decoration: none;

    text-align: center;

    transition: all 0.4s;

    color: #FFFFFF;
}

.buttons > a {
    width: 100px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons > a:hover, .buttons > div > a:hover {
    background: #203faf;
}

.firstText {
    margin-right: 50px;
}

.createdAt {
    border-top: 1px solid #D2DAE0;
    border-bottom: 1px solid #D2DAE0;
    padding: 20px 0px 20px;
    margin: 50px 0px 50px;
}

p {
    border-bottom: 2px solid #D2DAE0;
    width: 100%;
    padding: 20px 0px 20px;
}
