/* 회원가입 */
.title {
    margin: 60px 0px 60px;

    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 40px;
    gap: 40px;
    position: relative;
    width: 100%;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 30px;
    width: 320px;
    height: max-content;
}

form > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 8px;
    width: 320px;
    height: 64px;

    background: #FFFFFF;
    border: 1px solid #D2DAE0;
    border-radius: 8px;
}

form > div > input {
    width: 100%;
    height: 100%;

    background: #FFFFFF;
    border: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

form > div > input:focus {
    background: #FFFFFF;
    outline: none;
}

form > div > label {
    width: 288px;
    height: 14px;

    font-weight: 500;
    font-size: 14px;
    line-height: 100%;

    color: #4B5966;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

form > button {
    margin: 30px 0px 30px;

    width: 100%;
    height: 38px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;

    background: #4362D0;
    border: none;
    border-radius: 8px;

    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    
    text-align: center;

    color: #FFFFFF;
}

form > div > span {
    padding: 5px 0px 0px;

    font-weight: 400;
    font-size: 12px;

    color: #4362D0;
}

.hide {
    display: none;
}
