<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
<body>
<nav th:replace="fragments/navbar.html :: user">
</nav>
<div class="container-fluid row-gap-3 mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="bg-primary col-10 card">
            <div class=" text-white mt-5 ms-4">
                코드스쿼드 백엔드 교육용 페이지
            </div>
            <div class="fs-4 text-white mb-5 ms-4">
                HELLO JAVA! 입니다.
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center text-light-emphasis">
        <div class="col-10 row " th:text="'전체 글 '+${members.size()}+'개'">
            전체 글 60개
        </div>
        <div class="text-success col-10 row mt-3">
            <hr>
        </div>
        <div class="row col-10 text-center">
            <div class=" col-2">
                아이디
            </div>
            <div class=" col-6">
                이메일
            </div>
            <div class=" col-2">
                닉네임
            </div>
            <div class=" col-2">

            </div>
        </div>
        <div class="text-success col-10 row mt-3">
            <hr>
        </div>
        <div class="row col-10">
            <ol class="justify-content-center" id="memberList">
                <li class="row text-center" th:each="member : ${members}">
                    <div class="col-2 align-self-center">
                        <a th:href="@{/users/{id}(id = ${member.id})}" th:text="${member.id}"></a>
                    </div>
                    <div class="col-6 align-self-center" th:text="${member.email}"></div>
                    <div class="col-2 align-self-center" th:text="${member.nickname}"></div>
                    <div class="col-2">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-primary" type="submit"
                                    th:onclick="|location.href='@{/users/{id}/update(id = ${member.id})}'|">수정
                            </button>
                        </div>
                    </div>
                    <hr class="text-success mt-3">
                </li>
            </ol>
        </div>
        <div class="col-10 row justify-content-between">
            <div class="col">
                <ul class="pagination col-5">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col row justify-content-end">
                <div class="col-5">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="검색어를 입력하세요" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="container-fluid mt-auto bg-light py-3">

</footer>
</body>

</html>
