<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/new/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand bg-body-tertiary justify-content-center row-cols-auto">
    <div class="col-10 row row-cols-auto justify-content-between">
        <div class="nav align-self-center ms-3 ">
            HELLO JAVA!
        </div>
        <div class="container  row row-cols-auto">

            <div class="nav" id="login">
                <a class="btn btn-primary" href="Login.html" type="submit" role="button">마이페이지</a>
            </div>
            <div class="nav" id="logout">
                <a class="btn btn-primary" href="Login.html" type="submit" role="button">로그아웃</a>
            </div>
        </div>
    </div>
</nav>
<form class="container" id="postingForm" novalidate>
    <div class="row justify-content-center mt-5">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <div class="row justify-content-center mt-2">
                        <svg width="120" height="120" data-jdenticon-value="user127"
                             th:data-jdenticon-value="${user.id}"></svg>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="card-title row">
                            <h5 class="col-5">nickname : </h5>
                            <p class="col" th:text="${user.nickname}">nickname</p>
                        </div>
                        <div class="card-text row">
                            <h5 class="col-5">email : </h5>
                            <p class="col" th:text="${user.email}">email</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<footer class="container-fluid mt-auto bg-light py-3"></footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/jdenticon@3.2.0/dist/jdenticon.min.js" async
        integrity="sha384-yBhgDqxM50qJV5JPdayci8wCfooqvhFYbIKhv0hTtLvfeeyJMJCscRfFNKIxt43M"
        crossorigin="anonymous">
</script>
</html>
