#mainBanner {
    margin-top: 80px;
    background-color: #0d6efd;
    color: white;
    border-radius: 8px;
    height: 148px;
}

#mainBanner > div {
    padding: 0 40px 0 40px;
}

#members {
    margin-top: 80px;
}

th {
    font-weight: normal !important;
}

th, tr {
    border-width: 0 0 1px 0 !important;
    border-style: solid !important;
    border-color: #D2DAE0 !important;
    height: 48px;
    text-align: center;
}


.nickName, .email, .signUpDate {
    width: 30%;
}

nav {
    margin-top: 20px!important;
}