{{>layout/header}}
<div class="container">
    <h2 class="mt-5">추천 영화</h2>
    <hr>
    <div class="row card-deck" id="critics-container"></div>

</div>

<script src="/static/js/homepage.js"></script>
{{>layout/footer}}
