<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: head"></div>
</head>
<body>
<div th:replace="/fragments/navigation :: navigation"></div>

<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
        <div class="navbar-header">
            <a href="/" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-home" style="color:#dd1111;"></i> Home <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
            <ul class="nav dropdown-menu">
                <li><a href="/users"><i class="glyphicon glyphicon-user" style="color:#1111dd;"></i> Profile</a></li>
                <li class="nav-divider"></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog" style="color:#dd1111;"></i> Settings</a></li>
            </ul>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse2">
            <ul th:if="${session.loginUser==null}" class="nav navbar-nav navbar-right">
                <li><a href="/">Posts</a></li>
                <li><a href="/users/login" role="button">로그인</a></li>
                <li><a href="/users/join" role="button">회원가입</a></li>
            </ul>
            <ul th:if="${session.loginUser!=null}" class="nav navbar-nav navbar-right">
                <li><a href="/">Posts</a></li>
                <li><a href="/users/logout" role="button">로그아웃</a></li>
                <li><a th:href="@{/users/{userId}/update(userId=${session.loginUser})}" role="button">개인정보수정</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="panel panel-default qna-list">
            <ul class="list" th:each="post : ${posts}">
                <li>
                    <div class="wrap">
                        <div class="main">
                            <strong class="subject">
                                <a href="./qna/show.html" th:href="@{/articles/{postId}(postId=${post.id})}" th:text="${post.title}"></a>
                            </strong>
                            <div class="auth-info">
                                <i class="icon-add-comment"></i>
                                <span class="time" th:text="${post.createdAt}"></span>
                                <a href="./user/profile.html" class="author" th:text="${post.writer}"></a>
                            </div>
                            <div class="reply" title="댓글">
                                <i class="icon-reply"></i>
                                <span class="point">8</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <ul class="pagination center-block" style="display:inline-block;">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
                <div class="col-md-3 qna-write">
                    <a href="/questions/form" class="btn btn-primary pull-right" role="button">질문하기</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- script references -->
<script src="js/jquery-2.2.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>