<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
<body>
<nav th:replace="fragments/navbar.html :: common"></nav>
<div class="container-fluid">
    <div class="row justify-content-center text-light-emphasis">
        <div class="row d-inline mt-4 ms-3 text-black">
            <span class="text-danger-emphasis" th:text="${pagesInfo.currentPage}"></span>번 페이지
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" th:each="simpleForm : ${simpleForms}">
                <div class="card h-100">
                    <div class="card-body">
                        <a class="mb-2" th:href="@{/posts/{id}(id = ${simpleForm.id})}">
                            <h5 class="card-title text-primary" th:text="${simpleForm.title}">Card title</h5>
                        </a>
                        <small class="text-primary-emphasis" th:text="${simpleForm.nickname}">Last updated 3 mins
                            ago</small>
                        <p class="card-text" th:text="${simpleForm.textContent}">This is a wider card with supporting
                            text below as a natural lead-in to additional content. This content is a little bit
                            longer.</p>
                        <small class="text-success">댓글수:<span th:text="${simpleForm.commentCount}">20</span></small>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Last updated <span
                                th:text="${#temporals.format(simpleForm.createdDateTime,'yyyy-MM-dd HH:mm')}"></span></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between mt-4">
            <div class="col">
                <ul class="pagination col-5">
                    <li class="page-item">
                        <a aria-label="Previous" class="page-link"
                           th:href="@{/(page = ${pagesInfo.previousPages})}" th:if="${pagesInfo.previous}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <p aria-label="Previous" class="page-link disabled" th:if="!${pagesInfo.previous}">
                            <span aria-hidden="true">&laquo;</span>
                        </p>
                    </li>
                    <li class="page-item" th:each="pageNumber : ${pagesInfo.pageNumbers}">
                        <a class="page-link" th:href="@{/(page=${pageNumber})}" th:text="${pageNumber}">1</a>
                    </li>
                    <li class="page-item">
                        <a aria-label="Next" class="page-link" href="#" th:href="@{/(page = ${pagesInfo.nextPages})}"
                           th:if="${pagesInfo.next}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        <p aria-label="Next" class="page-link disabled" disabled href="#"
                           th:if="!${pagesInfo.next}">
                            <span aria-hidden="true">&raquo;</span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col row justify-content-end">
                <div class="col-2">
                    <button class="btn btn-primary" th:if="${session.user != null}"
                            th:onclick="|location.href='@{/posts/form}'|"
                            type="submit">글쓰기
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="container-fluid mt-auto bg-light py-3">

</footer>
</body>

</html>
