<nav th:fragment="navbar-fixed-top" class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">

            <a href="index.html" class="navbar-brand">SLiPP</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
                <i class="glyphicon glyphicon-search"></i>
            </button>

        </div>
        <div th:replace="duplicates/navbar-collapse1.html :: navbar-collapse1"></div>
    </div>
</nav>