<div th:fragment="subnav" class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
        <div class="navbar-header">
            <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle"
               data-toggle="dropdown"><i class="glyphicon glyphicon-home" style="color:#dd1111;"></i> Home <small><i
                    class="glyphicon glyphicon-chevron-down"></i></small></a>
            <ul class="nav dropdown-menu">
                <th:block th:if="${session.loginUser != null}">
                    <li><a href="/user/profile" th:href="@{/users/{id}(id=${session.loginUser.id})}"><i
                            class="glyphicon glyphicon-user" style="color:#1111dd;"></i> Profile</a>
                    </li>
                    <li class="nav-divider"></li>
                    <li><a href="#" th:href="@{/users/{id}/updateForm(id=${session.loginUser.id})}"><i class="glyphicon glyphicon-cog" style="color:#dd1111;"></i> Settings</a></li>
                </th:block>
            </ul>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div th:fragment="navbar-collapse2" class="collapse navbar-collapse" id="navbar-collapse2">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Posts</a></li>

                <th:block th:if="${session.loginUser == null}">
                    <li><a href="/login" role="button">로그인</a></li>
                    <li><a href="/user/join" role="button">회원가입</a></li>
                </th:block>

                <th:block th:if="${session.loginUser != null}">
                    <li><a href="/questions/add" role="button">질문하기</a></li>
                    <li><a href="/logout" role="button">로그아웃</a></li>
                    <li><a href="#" role="button"
                           th:href="@{/users/{id}/updateForm(id=${session.loginUser.id})}">개인정보수정</a></li>
                </th:block>
            </ul>
        </div>
    </div>
</div>