<!DOCTYPE html>
<html lang="kr"
      layout:decorate="layout/defaultLayout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>질문 게시글 쓰기</title>
</head>
<body>
<th:block layout:fragment="content">
  <div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
      <div class="panel panel-default content-main">
        <form action="/qna" id="form" method="post" name="question">
          <div class="form-group">
            <!-- 글쓴이 -->
            <input class="form-control hidden" id="writer" name="writer" placeholder="글쓴이" readonly
                   th:value="${session.user.name}"/>
            <!-- 회원 아이디 -->
            <input class="form-control hidden" id="userId" name="userId" placeholder="회원아이디"
                   readonly
                   th:value="${session.user.userId}"/>
            <p id="writerError"></p>
          </div>
          <div class="form-group">
            <label for="title">제목</label>
            <input class="form-control" id="title" name="title" placeholder="제목" type="text"/>
            <p id="titleError"></p>
          </div>
          <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" id="content" name="contents" rows="5"></textarea>
          </div>
          <button class="btn btn-success clearfix pull-right" type="submit">질문하기</button>
          <div class="clearfix"/>
        </form>
      </div>
    </div>
  </div>
</th:block>
<th:block layout:fragment="pageCustomScript">
  <script src="/js/qna/new.js" type="text/javascript">
  </script>
</th:block>
</body>
</html>
