{{> fragments/header}}
<body>
{{> fragments/navbar}}
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default">
            {{^isLogin}}
            <div class="alert alert-danger" role="alert">로그인하지 않았으므로 게시글 조회만 가능합니다.</div>
            {{/isLogin}}
            {{#article}}
            <header class="qna-header">
                <h2 class="qna-title">{{title}}</h2>
            </header>
            <div class="content-main">
                <article class="article">
                    <div class="article-header">
                        <div class="article-header-thumb">
                            <img src="https://graph.facebook.com/v2.3/100000059371774/picture"
                                 class="article-author-thumb" alt="">
                        </div>
                        <div class="article-header-text">
                            <a href="/users/{{writer}}" class="article-author-name">{{writer}}</a>
                            <a href="/questions/413" class="article-header-time" title="퍼머링크">
                                {{createdAt}}
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="article-doc">
                        {{content}}
                    </div>
                    <div class="article-util">
                        <ul class="article-util-list">
                            <li>
                                <a class="link-modify-article" href="/article-edit-form/{{articleId}}">수정</a>
                            </li>
                            <li>
                                <form class="form-delete" action="/articles/{{articleId}}" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button class="link-delete-article" type="submit">삭제</button>
                                </form>
                            </li>
                            <li>
                                <a class="link-modify-article" href="/">목록</a>
                            </li>
                        </ul>
                    </div>
                </article>

                {{#isLogin}}
                    {{> qna/reply}}
                {{/isLogin}}

                {{/article}}

            </div>
        </div>
    </div>
</div>



{{> fragments/footer}}
