{{> layout/header}}
<body>
{{> layout/navbar}}

<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="panel panel-default content-main">
            <form name="question" method="get" action="/">
                <div class="form-group">
                    <p>삭제된 게시물 입니다.</p>
                </div>
                <button type="submit" class="btn btn-success clearfix pull-right">홈페이지로 돌아가기</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}

