.title {
    margin-top : 10%;
}

.form-floating {
    margin-top: 50px;
}

.m-auto {
    width: 60%;
}

form {
    margin-top: 50px;
}

textarea {
    resize: none!important;
    height: 800px!important;
}
