{{>layout/header}}
<div class="center">
    <div style="text-align:center;">
        <img src="https://gifdb.com/images/high/no-no-no-veronica-mars-69nbgfskhycboure.gif" alt="Cannot Modify Article" style="max-width: 100%;">
        <h2 class="text-center mb-5">다른 유저의 글은 수정이 안됩니다.</h2>
    </div>
</div>
{{>layout/footer}}
