{{>layout/header}}

<div class="container">
    {{#articleDetail}}
        <div class="container d-flex justify-content-between align-items-center">
            <h2 class="mt-5">{{title}}</h2>
            <div class="d-flex">
                <a href="/articles/{{id}}/modify">
                    <button id="edit-post-button" class="btn btn-primary mt-5 ml-auto">글 수정</button>
                </a>
                <form method="post" action="/articles/{{id}}">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <button id="delete-post-button" class="btn btn-danger mt-5">글 삭제</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="article-details">
            <p>글쓴이: {{author}}</p>
            <p>작성일: {{createdTime}}</p>
            <hr>
            <div class="article-content">
                {{contents}}
            </div>
        </div>


        <section class="mb-5">
            <div class="card bg-light">
                <div class="card-body" style="flex-wrap: wrap">
                    <!-- Comment form-->
                    <form class="mb-4" method="post" action="/comments">
                        <input type="hidden" name="articleId" value="{{id}}">
                        <textarea class="form-control" rows="3"
                                  name="contents"
                                  placeholder="댓글을 작성해보세요"></textarea>
                        <button type="submit" class="btn btn-primary">작성하기</button>
                    </form>
                    {{#comments}}
                        <!-- Single comment-->
                        <div class="d-flex mb-4">
                            <div class="flex-shrink-0"><img class="rounded-circle"
                                                            src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                                            alt="..."/></div>
                            <div class="ms-3">
                                <div class="fw-bold">{{userId}}</div>
                                <div class="text-muted fst-italic">{{createdTime}}</div>
                                <div class="comment-content">{{contents}}</div>
                            </div>
                        </div>
                    {{/comments}}
                </div>
            </div>
        </section>
    {{/articleDetail}}
</div>

{{>layout/footer}}
