{{>layout/header}}

<div class="container">
    {{#articleDetail}}
        <div class="container d-flex justify-content-between align-items-center">
            <h2 class="mt-5">{{title}}</h2>
            <div class="d-flex">
                <a href="/articles/{{id}}/modify"><button id="edit-post-button" class="btn btn-primary mt-5 ml-auto">글 수정</button></a>
                <form method="post" action="/articles/{{id}}">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button id="delete-post-button" class="btn btn-danger mt-5">글 삭제</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="article-details">
            <p>글쓴이: {{author}}</p>
            <p>작성일: {{time}}</p>
            <hr>
            <div class="article-content">
                {{contents}}
            </div>
        </div>
    {{/articleDetail}}
</div>

{{>layout/footer}}
