name: Hello PR
on:
  pull_request:
    types: [opened, reopened]
    branches: [main]
jobs:
  hello-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Hello PR
        uses: actions/github-script@v3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: '안녕하세요? main branch에 PR을 올리고 있군요!'
            })
